<div class="row-box" style="width:50%;float:left;">
	<center>
		<h4>
			{{ address_type }}
			-
			<b>{{ address_data.address.city }}/{{ address_data.address.state }}</b>
		</h4>
		<h5 style="padding-top:0;padding-bottom: 0;margin: 0; max-height: 18px; overflow:hidden;">
			{% if address_data.people_type == 'J' %}
				{{ address_data.people_alias }}
				-
			{% endif %}

			{{ address_data.contact.name }}
		</h5>
		<h5 style="padding-top:0;padding-bottom: 0;margin: 0;">
			{{ address_data.address.postal_code }}
			-
			{{ address_data.address.street }},
			{{ address_data.address.number }}
		</h5>
		<h5 style="padding-top:0;padding-bottom: 0;margin: 0;">
			{{ address_data.address.complement }}
			-
			{{ address_data.address.district }}
			-
			{{ address_data.address.city }}/{{ address_data.address.state }}
		</h5>
	</center>
</div>
