<div class="row-box" style="width:100%;padding: 30px;">
	<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin no-padding" style="margin-bottom: 20px;margin-top: 20px;">
		<label class="control-label label-title" style="color: #002e62;font-weight: bold;font-size: x-large;text-align: center;border-bottom: 1px solid;">			
			<b>{{ address_type }}</b>
		</label>
	</div>
	<table width="100%">
		{% if address_data.people_type == 'J' %}
			<tr>
				<td>
					<label class="control-label" for="company-alias">Nome Fantasia:</label>
				</td>
				<td>
					<span>{{ address_data.people_alias }}</span>
				</td>
			</tr>
			<tr>
				<td>
					<label class="control-label" for="name">Razão Social:</label>
				</td>
				<td>
					<span>{{ address_data.people_name }}</span>
				</td>
			</tr>
			<tr>
				<td>
					<label class="control-label" for="company-document">CNPJ:</label>
				</td>
				<td>
					<span>{{ address_data.people_doc }}</span>
				</td>
			</tr>
		{% endif %}

		{% if address_data.people_type == 'F' %}
			<tr>
				<td>
					<label class="control-label" for="client-document">CPF:</label>
				</td>
				<td>
					<span>{{ address_data.people_doc }}</span>
				</td>
			</tr>
		{% endif %}

		<tr>
			<td>
				<label class="control-label" for="client-name">Nome do responsável:</label>
			</td>
			<td>
				<span>{{ address_data.contact.name }}</span>
			</td>
		</tr>
		{% for email in address_data.contact.emails %}
			<tr>
				<td>
					<label class="control-label" id="label-add-email" for="input-add-email">
						Email:
					</label>
				</td>
				<td>
					<span>{{ email }}</span>
				</td>
			</tr>
		{% endfor %}

		{% for phone in address_data.contact.phones %}
			<tr>
				<td>
					<label class="control-label" id="label-add-phone" for="input-add-phone">Telefone:</label>
				</td>
				<td>
					<span data-contact-ddd="contact-ddd">({{ phone.ddd   }})</span>
					<span data-contact-phone="contact-phone">{{  phone.phone }}</span>
				</td>
			</tr>
		{% endfor %}

		<tr>
			<td>
				<label class="control-label" for="address-cep">CEP:</label>
			</td>
			<td>
				<span>{{ address_data.address.postal_code }}</span>
			</td>
		</tr>
		<tr>
			<td>
				<label class="control-label" for="address-street">Rua:</label>
			</td>
			<td>
				<span>{{ address_data.address.street }}</span>
			</td>
		</tr>
		<tr>
			<td>
				<label class="control-label" for="address-number">Número:</label>
			</td>
			<td>
				<span>{{ address_data.address.number }}</span>
			</td>
		</tr>
		<tr>
			<td>
				<label class="control-label" for="address-complement">Complemento:</label>
			</td>
			<td>
				<span>{{ address_data.address.complement }}</span>
			</td>
		</tr>
		<tr>
			<td>
				<label class="control-label" for="address-district">Bairro:</label>
			</td>
			<td>
				<span>{{ address_data.address.district }}</span>
			</td>
		</tr>
		<tr>
			<td>
				<label class="control-label" for="address-city">Cidade:</label>
			</td>
			<td>
				<span>{{ address_data.address.city }}</span>
			</td>
		</tr>
		<tr>
			<td>
				<label class="control-label" for="address-state">Estado:</label>
			</td>
			<td>
				<span>{{ address_data.address.state }}</span>
			</td>
		</tr>
	</table>
</div>
