{% block body %}
	<style>
		@page {
			margin: 0;
		}
		body {
			padding: 0;
			margin: 0;
		}
	</style>
	{% for key,package in range(1,pkg_total) %}
		{% set sum = 1 + key %}
		{% if sum < pkg_total %}
			{% set pb = 'page-break-after:always' %}
		{% else %}
			{% set pb = '' %}
		{% endif %}
		<div class="row-box" style="padding-top:20px;width:100%;{{pb}}">

			<div class="row-box" style="width:100%;clear:both;">
				<div class="row-box" style="width:50%;float:left;">
					<center>
						<img style="max-width:80%;max-height:130px" src="{{api_domain}}{{provider_logo}}"/>
					</center>
				</div>
				<div class="row-box" style="width:50%;float:left;">
					<center>
						<img style="max-width:80%;max-height:130px" src="{{api_domain}}{{carrier_logo}}"/>
					</center>
				</div>
			</div>
			<div class="row-box" style="width:100%;clear:both;">
				<div class="row-box" style="width:50%;float:left;">
					<center>
						<h3 style="padding-top:0;padding-bottom: 10px;margin: 0;">PEDIDO: #{{ sales_order }}</h3>
					</center>
				</div>
				<div class="row-box" style="width:50%;float:left;">
					<center>
						<h3 style="padding-top:0;padding-bottom: 10px;margin: 0;">VOLUME
							{{ sum }}/{{pkg_total}}</h3>
					</center>
				</div>
			</div>
			<div class="row-box" style="width:100%;clear:both;display:none">
				<div class="row-box" style="width:50%;float:left;">
					<center>
						<h6 style="padding-top:0;padding-bottom: 0;margin: 0;">
							{{ provider_name }}
							-
							{{ provider_doc }}
						</h6>
					</center>
				</div>
				<div class="row-box" style="width:50%;float:left;">
					<center>
						<h6 style="padding-top:0;padding-bottom: 0;margin: 0;">
							{{ carrier_alias }}
						</h6>
					</center>
				</div>
			</div>
			<div class="row-box" style="width:100%;clear:both;">
				{{ include('common/orders/address_data.html.twig', {address_data: retrieve_data}, ignore_missing = true) }}
				{{ include('common/orders/address_data.html.twig', {address_data: delivery_data}, ignore_missing = true) }}
			</div>
			<div class="row-box" style="padding-top: 15px; clear:both; width:95%; margin: auto;">
				<h3 style="padding-top:0;padding-bottom: 10px;margin: 0;">NOTA FISCAL: #{{ invoice_number }}</h3>
				<img width="100%" src="data:image/png;base64,{{ invoice_key_bar_code }}"/>
				<h6 style="padding-top:0;padding-bottom: 0;margin: 0;">{{ invoice_key }}</h6>
			</div>
		</div>
	{% endfor %}
{% endblock %}
