{% block body %}
<h5>
    <label class="control-label label-title" style="color: #002c5d;font-weight: bold;font-size: 20px;">
        Pedido: #{{ order_id }}
    </label>
</h5>
<div id="invoice-tax">
    <h4>Dados para emissão da sua nota fiscal :</h4>
    <h4>Preencha corretamente sua DANFE, com os seguintes dados:</h4>
    <ul>
        <li>
            No campo "Transportador/Volumes Transportados", colocar os dados da transportadora :
            <ul>
                <li>{{ carrier.name      }}</li>
                <li>{{ carrier.cnpj      }}</li>
                {% if carrier.inscricao %}
                <li>{{ carrier.inscricao }}</li>
                {% endif %}
                <li>{{ carrier.address.street }}, {{ carrier.address.number }} {{ carrier.address.complement }}</li>
                <li>
                    {{ carrier.address.postal_code }} - {{ carrier.address.district }} - {{ carrier.address.city }} / {{ carrier.address.state }}
                </li>
            </ul>
        </li>
        <li>No campo "Frete por conta", colocar a opção por "Terceiros"</li>
        <li>Não esqueça de colocar os volumes a serem transportados e peso total</li>
        <li>
            No campo "Dados adicionais", Coloque a seguinte instrução: Frete por conta e ordem da {{ provider.name }}  CNPJ: {{ provider.document }}
        </li>
        <li>Atenção ao endereço de entrega</li>
        <li>Em anexo está nossa carta de consignatário do frete, que deve ser impressa e anexada na frente da sua Nota Fiscal.</li>
    </ul>
</div>
{% endblock %}