{% block body %}
<div class="row-box" style="clear:both;padding: 30px;">
	<h5>
		<label class="control-label label-title" style="color: #002c5d;font-weight: bold;font-size: 20px;">
			Detalhes da fatura
		</label>
	</h5>
	{% if invoice_number %}
		<h5>
			<label class="control-label label-title" style="color: #002c5d;font-weight: bold;font-size: 20px;">
				Nota fiscal:
				<a target="_blank" href="{{ api_domain }}/finance/client/id/{{ invoice_number }}.pdf">#{{ invoice_number }}</a>
			</label>
		</h5>
	{% endif %}
	<h5>
		<label class="control-label label-title" style="color: #002c5d;font-weight: bold;font-size: 20px;">
			Fatura:
			<a target="_blank" href="{{ app_domain }}/finance/client/id/{{ invoice_id }}">#{{ invoice_id }}</a>
		</label>
	</h5>
	<h5>
		<label class="control-label label-title" style="color: #002c5d;font-weight: bold;font-size: 20px;">
			Data de vencimento:
			{{ invoice_duedate }}
		</label>
	</h5>
	<h5>
		<label class="control-label label-title" style="color: #002c5d;font-weight: bold;font-size: 20px;">
			Valor do pagamento:
			{{ invoice_price }}
		</label>
	</h5>
	<a target="_blank" style="padding: 10px;color: #fff;background-color: #337ab7;border-color: #095077;border-bottom-color: #043D5D;background-color: #095077;box-shadow: 0 2px 3px rgba(9, 80, 119, 0.3);" href="{{ app_domain }}/finance/client/id/{{ invoice_id }}">
		Abrir Fatura
	</a>
	<div class="row" style="padding-top:50px">
		<div class="panel-body">
			<legend>
				<h5>
					<label class="control-label label-title" style="color: #002c5d;font-weight: bold;font-size: 20px;">
						Pedidos
					</label>
				</h5>
			</legend>
			<div id="order-list">
				<table data-table="order-list" class="datatable table table-striped primary" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th style="text-align: left;">ID</th>
							<th style="text-align: left;">Transportadora</th>
							<th style="text-align: left;">Nota Fiscal</th>
							<th style="text-align: left;">Valor</th>
						</tr>
					</thead>
					<tbody>
						{% for order in invoice_orders %}
							<tr>
								<td>
									<a href="{{ app_domain }}/purchasing/order/id/{{ order.id }}">#{{ order.id }}</a>
								</td>
								<td>{{ order.carrier }}</td>
								<td>{{ order.invoice }}</td>
								<td>{{ order.price   }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}